<%- include("layout/authheader")  %> 

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-secondary">
                    <h3 class="text-light">Login</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/login" method="post" id="add-form" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg <%= error.email ? 'is-invalid' : '' %>" value="<%= content ? content.email.toString() : '' %>" placeholder="Enter email" required />
                            <% if (error.email !== "") { %>
                                <div class="invalid-feedback">
                                   <%= error.email %> 
                                </div>
                               <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control form-control-lg <%= error.password ? 'is-invalid' : '' %>"  placeholder="Enter password" required />
                            <% if (error.password !== "") { %>
                                <div class="invalid-feedback">
                                   <%= error.password %> 
                                </div>
                               <% } %>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Login" class="btn btn-secondary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("layout/footer")  %> 
