<%- include("layout/authheader")  %> 

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-secondary">
                    <h3 class="text-light">Sign Up</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/signup" method="post" id="add-form" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg <%= error.email ? 'is-invalid' : '' %> " value="<%= content ? content.email.toString() : '' %>" placeholder="Enter email" required />
                            <% if (error.email !== "") { %>
                             <div class="invalid-feedback">
                                <%= error.email %> 
                             </div>
                            <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" name="firstName" class="form-control form-control-lg <%= error.firstName ? 'is-invalid' : '' %> " value="<%= content ? content.firstName.toString() : '' %>" placeholder="Enter first name" required />
                            <% if (error.firstName !== "") { %>
                                <div class="invalid-feedback">
                                   <%= error.firstName %> 
                                </div>
                               <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" name="lastName" class="form-control form-control-lg <%= error.lastName ? 'is-invalid' : '' %> " value="<%= content ? content.lastName.toString() : '' %>" placeholder="Enter last name" required />
                            <% if (error.lastName !== "") { %>
                                <div class="invalid-feedback">
                                   <%= error.lastName %> 
                                </div>
                               <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control form-control-lg <%= error.password ? 'is-invalid' : '' %> " placeholder="Enter password" required />
                            <% if (error.password !== "") { %>
                                <div class="invalid-feedback">
                                   <%= error.password %> 
                                </div>
                               <% } %>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Sign up" class="btn btn-secondary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("layout/footer")  %> 